<header class="header">
  <div class="header-container container">
    <div class="w-50 d-flex align-items-center">
      <div class="logo">
        <mat-icon>smart_display</mat-icon>
      </div>
      <form class="search-form">
        <mat-form-field class="form-field">
          <mat-label>Enter the title</mat-label>
          <input class="search-form-input" matInput
          (input)="onSearchInput($event)"
          [value]="searchInputValue"
          />
          <ng-container *ngIf="searchInputValue.length">
            <button
            (click)="cleanSearchField()"
            class="search-input-close"
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Clear-search-input"
          >
            <mat-icon>close</mat-icon>
          </button>
          </ng-container>
        </mat-form-field>
        <button
          (click)="onSearchSubmit()"
          class="search-button"
          type="button"
          mat-button
          aria-label="request-search-result"
        >
          search
        </button>
      </form>
      <button
        (click)="isSortBlockShown = !isSortBlockShown"
        class="settings-btn"
      >
        <mat-icon>tune</mat-icon>
      </button>
    </div>
    <app-login></app-login>
  </div>
  <ng-container *ngIf="isSortBlockShown">
    <div class="sort-container container">
      <div class="w-50 mx-auto sort-container">
        sorting by:
        <a href="#" class="sort-by-date">date</a>
        <a href="#" class="sort-by-date">count of view</a>
        <span>by word or sentence</span>
        <input type="text" />
      </div>
    </div>
  </ng-container>
</header>
