.card {
  &-wrapper {
    background: rgb(239, 239, 239);
    padding: 20px 20px 15px;
    box-shadow: 3px 2px 5px #d0d0d0;
    border-radius: 5px;
    border-bottom: 5px solid red;

    & a {
      text-decoration: none;
    }
  }

  &-title {
    height: 50px;
    font-size: 16px;
    line-height: 20px;
  }
}

.video-statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto 0;

  & button {
    border: none;
    background: none;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-top: 15px;
  }

  & .mat-icon {
    font-size: 17px;
  }
}

.more-btn {
  width: 150px;
  display: block;
  margin: 40px auto 0;
  background: rgb(61, 155, 222);
}