<div class="row">
  <div class="col-3 mb-4" *ngFor="let item of allVideos">
    <div class="card-wrapper" [appBorderColor]="item.snippet['publishedAt']">
      <img
        class="w-100"
        src="{{ item.snippet.thumbnails.medium.url }}"
        alt=""
      />
      <div class="video-statistics d-flex align-items-center justify-content-between mt-3">
        <button><mat-icon>visibility</mat-icon></button>{{item.statistics.viewCount}}
        <button><mat-icon>favorite</mat-icon></button>{{item.statistics.favoriteCount}}
        <button><mat-icon>favorite_border</mat-icon></button>{{item.statistics.dislikeCount}}
        <button><mat-icon>forum</mat-icon></button>{{item.statistics.commentCount}}
      </div>
      <h2 class="card-title text-center mt-4">{{item.snippet.title}}</h2>
      <a routerLink="detail/{{item.id}}">
        <button class="more-btn" mat-raised-button color="primary">More</button></a>
    </div>
  </div>
</div>